/wp
/wp-content/plugins
/wp-content/themes/twentyten
/wp-content/themes/twentyeleven
/wp-content/themes/twentytwelve
/wp-content/themes/twentythirteen
/wp-content/themes/twentyfourteen
/wp-content/themes/twentyfifteen
/wp-content/themes/twentysixteen
/wp-content/themes/twentyseventeen
/wp-content/themes/twentyeighteen
/wp-content/themes/twentynineteen
/wp-content/themes/twentytwenty
/wp-content/themes/twentytwentyone
/wp-content/themes/twentytwentytwo
/wp-content/themes/twentytwentythree
/wp-content/themes/twentytwentyfour
/wp-content/themes/twentytwentyfive
/wp-content/themes/devanime
/wp-content/upgrade
/wp-content/uploads
/wp-content/vendor
/wp-content/debug.log
/local-config.php
